Flask==2.3.3
flask-cors==4.0.0
Pillow==10.0.0
numpy==1.24.3
google-generativeai==0.3.0
timm==0.9.7
gunicorn==21.2.0
requests==2.31.0
# Sử dụng bản torch CPU để giảm dung lượng
https://download.pytorch.org/whl/cpu/torch-2.0.1%2Bcpu-cp311-cp311-linux_x86_64.whl
torchvision==0.15.2
